@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {}
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.background-svg {
  width: 100%;
  z-index: -1;
  height: 200px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4.5 0 20 8'%3E%3Cpath d='M-7 8L-7 6C-7 6 -7 5 -5 5L2 5c1 0 2 0 2 1C4.032 7.479 6.967 7.538 7 6c0-1 1-1 2-1L16 5C18 5 18 5.5 18 6L18 8' fill='%231f2937' /%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.gradient-bg {
  background-image: radial-gradient(circle, rgba(135, 249, 234, 1) 0%, rgba(0, 0, 0, 0) 50%);
}


.top-shadow {
  position: relative;
  height: 20px;
  rotate: -180deg;
  clip-path: ellipse(35% 40% at 50% 100%);
  box-shadow: 0px -35px 40px rgba(135, 249, 234, 1);
  border-style: hidden;
  top: 35px;
  z-index: 30;
}